.button {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.button:hover {
	-fx-background-color: white;
	-fx-text-fill: black;
}

#btnCancle:hover {
	-fx-text-fill: white;
}

.text-input {
	-fx-text-fill: white;
}
.table-view .filler{
	-fx-background-color: #222222;
}

.table-view .column-header {
	-fx-background-color: #222222;
}

.table-view .column-header .label {
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.table-view .column-header .label:hover {
	-fx-background-color: white;
	-fx-text-fill: black;
}

#leftVbox {
	-fx-background-color: rgba(127, 127, 127, 0.5);
}

#hudPane, #dataPane {
	-fx-background-color: rgba(22, 22, 22, 0.7);
	-fx-background-radius: 8;
}

#controlPane, #fencePane, #areaPane, #cargoPane {
	-fx-background-color: black;
	-fx-background-radius: 8;
}

#borderPane, #bottomPane {
	-fx-background-color: rgba(0, 0, 0, 0.6);
}

#rollLabel, #pitchLabel, #yawLabel, #armedLabel, #statusLabel, #rightStatusLabel, #rightCameraLabel {
	-fx-background-color: black;
	-fx-background-radius: 30;
}

.tab-pane {
    -fx-tab-min-width: 175px;
}
