#txtNFZLat,#txtNFZLng,#txtNFZRadius,#txtAlt,#txtIP,#txtPort{
	-fx-text-fill: white;
}

.root {
	-fx-font-family: "Bombardier";
}

.text-field-table-cell .text-field {
   -fx-font-family: "Bombardier";
   -fx-border-color:red;
   -fx-text-fill: black;
}

.table-view .table-cell .table-button:hover{
	-fx-font-family: "Bombardier";
    -fx-alignment: center;
    
}

.label {
	-fx-font-family: "Bombardier";
}
.button {
	-fx-font-family: "Bombardier";
	-fx-background-color: black;
	-fx-text-fill: white;
}

.button:hover {
	-fx-font-family: "Bombardier";
	-fx-font-size: 20;
	-fx-background-color: white;
	-fx-text-fill: black;
}

.button:focused{
	-fx-font-family: "Bombardier";
	-fx-font-size: 20;
	-fx-background-color: white;
	-fx-text-fill: black;
}
#btnCancle{
	-fx-text-fill : "#a19d9d";
	-fx-font-size: 15;
}
#btnCancle:hover {
	-fx-font-size: 15;
	-fx-text-fill: white;
}

#rightDeleteBtn:focused, #rightDeleteBtn:hover {
	-fx-font-size: 18;
	-fx-background-color: black;
	-fx-text-fill: white;
}

.table-view .table-cell{
    -fx-alignment: center;
    -fx-text-fill: white;
    
}
.table-view .filler{
	-fx-background-color: #222222;
	-fx-text-fill: white;
}

.table-view .column-header {
	-fx-background-color: #222222;
}

.table-view .column-header .label {
	-fx-font-family: "Bombardier";
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.table-view .column-header .label:hover {
	-fx-font-family: "Bombardier";
	-fx-background-color: #222222;
	-fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

#leftVbox {
	-fx-font-family: "Bombardier";
	-fx-background-color: rgba(127, 127, 127, 0.5);
}

#hudPane, #dataPane {
	-fx-background-color: rgba(22, 22, 22, 0.7);
	-fx-background-radius: 8;
}

#controlPane, #fencePane, #areaPane, #cargoPane {
	-fx-background-color: black;
	-fx-background-radius: 8;
}

#borderPane, #bottomPane {
	-fx-background-color: rgba(0, 0, 0, 0.6);
}

#rollLabel, #pitchLabel, #yawLabel, #armedLabel, #statusLabel {
	-fx-font-family: "Bombardier";
	-fx-background-color: black;
	-fx-background-radius: 30;
}

#rightStatusBtn, #rightCameraBtn {
	-fx-background-radius: 0;	
}

#rightStatusPane, #rightCameraPane {
	-fx-background-color: black;
	-fx-opacity: 0.8;	
}

#rightStatusLabel {
	-fx-font-family: "Bombardier";
	-fx-background-color: white;
	-fx-text-fill: black;
}

#rightStatusLabel:hover {
	-fx-font-family: "Bombardier";
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size: 25;
}
#rightStatusLabel:focused {
	-fx-font-family: "Bombardier";
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size: 25;
}

#rightCameraLabel {
	-fx-font-family: "Bombardier";
	-fx-background-color: black;
	-fx-text-fill: white;
}

#rightCameraLabel:hover {
	-fx-font-family: "Bombardier";
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size: 25;
}

#rightCameraLabel:focused {
	-fx-font-family: "Bombardier";
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size: 25;
}

.list-view {
	-fx-font-family: "Bombardier";
	-fx-background-color: black;
	-fx-border-color: transparent;
	-fx-font-size: 15;
}

.list-cell {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.list-cell:hover {
	-fx-background-color: white;
	-fx-text-fill: black;
}
#btnMissionStart:hover, #btnMissionStop:hover,#btnFenceDownload:hover, #btnFenceDelete:hover,#btnFenceActivate:hover{
	-fx-font-family: "Bombardier";
	-fx-font-size: 15;
	-fx-background-color: white;
	-fx-text-fill: black;
}

#btnFenceUpload:hover,#btnNoflyzoneActivate:hover,#btnMissionDownload:hover{
	-fx-font-family: "Bombardier";
	-fx-font-size: 16;
	-fx-background-color: white;
	-fx-text-fill: black;
}

#btnFenceDeactivate:hover{
	-fx-font-family: "Bombardier";
	-fx-font-size: 14;
	-fx-background-color: white;
	-fx-text-fill: black;
}
#btnNoflyzoneDelete:hover{
	-fx-font-family: "Bombardier";
	-fx-font-size: 13;
	-fx-background-color: white;
	-fx-text-fill: black;
}
#btnMissionStart:focused, #btnMissionStop:focused,#btnFenceDownload:focused, #btnFenceDelete:focused,#btnFenceActivate:focused{
	-fx-font-family: "Bombardier";
	-fx-font-size: 15;
	-fx-background-color: white;
	-fx-text-fill: black;
}

#btnFenceUpload:focused,#btnNoflyzoneActivate:focused,#btnMissionDownload:focused{
	-fx-font-family: "Bombardier";
	-fx-font-size: 16;
	-fx-background-color: white;
	-fx-text-fill: black;
}

#btnFenceDeactivate:focused{
	-fx-font-family: "Bombardier";
	-fx-font-size: 14;
	-fx-background-color: white;
	-fx-text-fill: black;
}
#btnNoflyzoneDelete:focused{
	-fx-font-family: "Bombardier";
	-fx-font-size: 13;
	-fx-background-color: white;
	-fx-text-fill: black;
}
