#leftVbox {
	-fx-background-color: rgba(127, 127, 127, 0.5);
}

#hudPane, #dataPane {
	-fx-background-color: rgba(22, 22, 22, 0.7);
	-fx-background-radius: 8;
}

#controlPane, #fencePane, #areaPane, #cargoPane {
	-fx-background-color: black;
	-fx-background-radius: 8;
}

#borderPane, #bottomPane {
	-fx-background-color: rgba(0, 0, 0, 0.6);
}
